<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('includes/head.ejs'); %>
  <link rel="stylesheet" href="/view.css">
  <title>
    <%= listing.title %>
  </title>
</head>

<body>
  <%- include('includes/navbar.ejs') %>
  <main>
    <div class="head">
      <div>
        <a href="#">
          <%= listing.title %>
        </a>
        <div class="hover"></div>
      </div>
    </div>

    <div class="image">
      <img src="<%= listing.image.url %>" alt="listing image" srcset="">
    </div>

    <div class="description">
      <h3>
        <b>Owner: </b>
        <%= listing.owner.name %>
      </h3>
      <p>
        "<%= listing.description %>"
      </p>
    </div>

    <div class="listingInfo">
      <div>
        <p>
          <%= listing.location %>, <%= listing.country.toLocaleLowerCase().replace(/\b\w/g,
          function(char) { return char.toUpperCase(); }); %>
        </p>
      </div>

      <div class="price">
        <p>&#8377;<%= listing.price.toLocaleString("en-IN") %> per day</p>
      </div>
    </div>

    <br><br>
    <div class="hr"></div>

    <!-- Listing Actions (Edit or Delete) -->
    <% if ((currUser) && (currUser._id).equals(listing.owner._id)) { %>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="actionForm">
      <div>
        <a href="http://localhost:8080/listings/">Go back...</a>
      </div>

      <div>
        <button type="submit">Delete Listing...</button>
      </div>

      <div>
        <a href="http://localhost:8080/listings/<%= listing._id %>/edit">Edit Listing...</a>
      </div>
    </form>

    <br>
    <div class="hr"></div>
    <br>
    <% } %>

    <!-- Owner is not allowed to add review to his/her Listing -->
    <% if (currUser && !(currUser._id).equals(listing.owner._id)) { %>
    <div class="reviews">
      <div class="reviewsHead">
        <h2>
          <a href="">Give a feedback to serve you better...</a>
          <div class="hover"></div>
        </h2>
      </div>

      <form action="/listings/<%= listing._id %>/review" method="POST" class=" form reviewForm">
        <div class="rating">
          <label for="ratingInp">Give Rating: </label>
          <!-- <input type="range" name="review[rating]" id="ratingInp" min="0" max="5" value="0" required> -->

          <fieldset class="starability-heartbeat">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />

            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>

            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>

            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>

            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>

            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>

        </div>

        <div>
          <label for="commentInp">Share your Thoughts...</label>
          <textarea name="review[comment]" id="commentInp" placeholder="How was your experience???" required></textarea>
        </div>
        <div>
          <a href="http://localhost:8080/listings/">Go back...</a>
          <button type="submit">Submit your review...</button>
        </div>
      </form>
    </div>

    <br>
    <div class="hr"></div>
    <br>
    <% } %>


    <div class="userReviews">
      <div class="reviewsHead">
        <h2>
          <a href="">User Reviews...</a>
          <div class="hover"></div>
        </h2>
      </div>

      <div class="showReviews">
        <% for( let review of listing.reviews ) { %>
        <div class="reviewCards">
          <div class="reviewUsername">
            By: <%= review.author.name %>
          </div>
          <div class="hr"></div>
          <div class="reviewComment">
            <%= review.comment %>
          </div>
          <div class="hr"></div>
          <div class="reviewAction">
            <p >
              <b>Rating: </b>
              <%= review.rating %> stars
            </p>

            <!-- Only Author of the review can delete it -->
            <% if ((currUser) && (currUser._id).equals(review.author._id)) { %>
            <form action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" method="POST" class="delReviewForm">
              <div>
                <button type="submit">Delete Review...</button>
              </div>
            </form>
            <% } %>

          </div>
        </div>
        <% } %>
      </div>

    </div>
  </main>

  <%- include('includes/footer.ejs') %>

</body>

</html>